@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import '~bootstrap/scss/bootstrap';


body {
  background-color: #D7DAFF;
  color: black;
  text-align: center;
}

#main-container {
  margin-top: 50px;
}

#form-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

form {
  width: 400px;
}

#card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  margin-top: 50px;
}

#welcome {
  padding: 200px;
}

.card {
  border: solid 3px #8E77F8;
  border-radius: 10px;
}

.card-header {
  background-color: #8E77F8;
  color: white;
  font-weight: bolder;
}

#card-text {
  justify-content: flex-start;
}

.sc-icon {
 height: 25px;
}

.btn-edit {
  background-color: #D5FDDB;
}

.btn-delete {
  background-color:#FFCCD2;
}

.btn-dark {
  background-color: #8E77F8;
  border: none;
  color: white;
}
