@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import "~bootstrap/scss/bootstrap";


body {
  background-color: #D7DAFF;
  color: black;
  text-align: center;
  margin-top: 100px;
}

#card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  padding: 50px;
}

.card {
  border: solid 3px #8E77F8;
}

.card-header {
  background-color: #8E77F8;
  color: white;
  font-weight: bolder;
}

.btn-edit {
  background-color: #FFCCD2;
}

.btn-delete {
  background-color: #D5FDDB;
}

form {
  width: 400px;
}
